* {
	outline: 0;
}

.base-bg, .bg-base {
	background: @theme_base_color;
}

.flat {
	outline: 0;
}

.font-small {
	font-size: small;
}

.font-green {
	color: rgba(125, 201, 54, 1);
}

.font-red {
	color: rgba(171, 53, 62, 1);
}

.font-yellow {
	color: rgba(215, 194, 131, 1);
}

.font-bold { font-weight: bold; }

.small-btn {
	padding: 0;
}